# Loop Function etc

while loop

In [1]:
# Initialization
count=0
#condition
while (count<5):
    print(count)
    count=count+1

0
1
2
3
4

In [2]:
count=0
while (count<=5)
print (count)
count=count+1

SyntaxError: invalid syntax (<ipython-input-2-310c1ffc9e78>, line 2)

In [3]:
count=0
while (count<=10):
    print(count)
    count=count+2

0
2
4
6
8
10

In [4]:
k=2
while(k<=20):
    print(k)
    k=k+5

2
7
12
17

In [7]:
k=0
while (k<=20):
    print(k,end=" ")
    k=k+5

0 5 10 15 20

In [8]:
i=1
while(i<6):
    print(i)
    i=i+1

1
2
3
4
5

In [9]:
i=1
while(i<11):
    print(i)
    i=i+2

1
3
5
7
9

In [10]:
count=1
# Code block 1
while count<11:
    print(count)
    count=count+1
# code block 2
if count==11:
    print ('counting complete.')

1
2
3
4
5
6
7
8
9
10
counting complete.

For Loop

# For loops work on collection of values

In [11]:
for k in [1,2,3,4]:
    print(k)

1
2
3
4

In [12]:
list1= [34,55,66,78,89]

In [13]:
for k in list1:
    print(k)

34
55
66
78
89

In [15]:
list2= [70,80,90,12,26]
for i in list2:
    print(i)

70
80
90
12
26

In [16]:
grocerylist= ['apple','jam',"sauce","masala"]
for i in grocerylist:
    print(i,end=" ")

apple jam sauce masala

In [17]:
a= ["sky","earth","water"]

In [18]:
for i in a:
    print(i)

sky
earth
water

In [19]:
colour=["orange","red","blue"]
for i in colour:
    print(i)

orange
red
blue

# Task1

Create a list with name fundrinks with element coke ,lemom,soda,pepsi and then its run it through for loop

In [20]:
fundrinks = ["coke","lemon","soda","pepsi"]
for i in fundrinks:
    print(i)

coke
lemon
soda
pepsi

# samplelist=["","",""]
for x in samplelist:
    print(x)

elterating through a Dictionary

In [21]:
d= {1:"sky",2:'earth',3:'water',4:'forest'}
for k in d:
    print(k)

1
2
3
4

In [22]:
d={1:'sky',2:'earth',3:'water',4:'forest'}
for k in d:
    print(d[k])

sky
earth
water
forest

In [24]:
a_dict={'colour':'blue','fruits':'apple','pet':'dog'}
d_items=a_dict.items()
print(d_items)
# write the below code in next cell
for key in a_dict:
    print(key,'->',a_dict[key])

dict_items([('colour', 'blue'), ('fruits', 'apple'), ('pet', 'dog')])
colour -> blue
fruits -> apple
pet -> dog

Range gives sequence of integers

In [25]:
range(5)

range(0, 5)

In [26]:
p=range(5)

In [27]:
p

range(0, 5)

In [28]:
list(p)

[0, 1, 2, 3, 4]

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
mylist=list(range(10))

In [31]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
for i in mylist:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [34]:
j=range(2,20)
j

range(2, 20)

In [35]:
j=list(range(2,20))
j

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
j=list(range(2,10,2))
j

[2, 4, 6, 8]

In [37]:
j=list(range(0,20,5))
j

[0, 5, 10, 15]

In [38]:
for m in j:
    print(m)

0
5
10
15

In [39]:
for m in j:
    print(m,end=" ")

0 5 10 15

In [40]:
for i in ['lemon','apple','orange','banana']:
    print(i)

lemon
apple
orange
banana

In [44]:
for i in ['lemon','apple','orange','banana']:
    if i=='orange':
        break
    print(i)

lemon
apple

In [46]:
for i in ['lemon','apple','orange','banana']:
    if i=='orange':
        continue
    print(i)

lemon
apple
banana

In [47]:
s= []
for i in range (2,11,2):
    s.append(i)
    
print(s)

[2, 4, 6, 8, 10]

In [48]:
data=[1,2,3,4,5]
# storing the value of list in variable while iteration

m=[d for d in data]
print(m)

[1, 2, 3, 4, 5]

In [49]:
data=[1,2,3,4,5,6,7,8]

m=[d for d in data if d % 2 == 0]
print(m)

[2, 4, 6, 8]

In [50]:
j= [i for i in range (0,30,5)]

j

[0, 5, 10, 15, 20, 25]

In [51]:
dict = {1:100,2:200,3:300}
s=[k for k in dict]
s

[1, 2, 3]

In [1]:
dict1={1:100, 2:200, 3:300}
s=[k for k in dict1.items()]
s

[(1, 100), (2, 200), (3, 300)]

In [2]:
test_dict={'arushi':22,'anuradha':21,'mani':21,'haritha':21}
new_dict= {key:val for key, val in test_dict.items()}

In [3]:
new_dict

{'arushi': 22, 'anuradha': 21, 'mani': 21, 'haritha': 21}

In [4]:
print ('The dictionary is :'+ str(new_dict))

The dictionary is :{'arushi': 22, 'anuradha': 21, 'mani': 21, 'haritha': 21}

# Range Function

In [5]:
x=range(5)

In [6]:
x

range(0, 5)

In [7]:
type(x)

range

In [8]:
for i in x:
    print(i)

0
1
2
3
4

In [9]:
marks=90

In [10]:
if marks>80:
    print('Excellent')
else:
    print('Good')

Excellent

In [11]:
fact=2
num=12
if num%fact==0:
    print('even')
else:
    print('odd')

even

In [12]:
k=int(input('enter value'))

if k%2==0:
    print('value of k is',k,'even number')
else:
    print('value of k is',k,'odd number')

enter value8
value of k is 8 even number

string Functiuon

In [16]:
word='Welcome To Python'

In [17]:
word

'Welcome To Python'

In [20]:
word.lower()

'welcome to python'

In [21]:
word.swapcase()

'wELCOME tO pYTHON'

In [23]:
word.split()

['Welcome', 'To', 'Python']

In [24]:
# Word alphabetic

In [25]:
word2='Python'
word2.isalpha()

True

In [27]:
# String concatenation
str1='New'
str2='Horizon'
print(str1 +str2)
print(str1+''+str2)

NewHorizon
NewHorizon

# String format
Python uses style string formating to create new formatted strings.The % opertor is used to format a set of variables enclosed in a 'tuples'

In [28]:
# This print out 'Hello,John!'
name='John'
print('hellow, %s!'% name)

hellow, John!

In [29]:
# This print out 'john is 23 years old'
name='John'
age=23
print('%s is % d years old.'%(name,age))

John is  23 years old.

In [38]:
x='apples'
y='lemons'
z='I have % s and % s' %(x,y)
print(z)

I have apples and lemons

In [41]:
name='John'
age=24
print('his name is {} he is {} years old.'.format(name,age))

his name is John he is 24 years old.

In [45]:
print('{0} and {1}'. format('spam','eggs')) 
print('{1} and {0}'. format ('spam','eggs'))

spam and eggs
eggs and spam