# Dict, list , Elements

concatenate string....adding of string

In [12]:
"hellow"+"world"

'hellowworld'

In [13]:
"hellow "+"world"

'hellow world'

In [14]:
"happy"+""+"birthday"

'happybirthday'

In [15]:
"happy"+" "+"bithday"

'happy bithday'

In [16]:
str1="march"
str2="April"

In [17]:
str1+str2

'marchApril'

# concatenation

In [18]:
"happy"+ "Birthday"

'happyBirthday'

In [19]:
"Happy "+"Birthday"

'Happy Birthday'

In [20]:
"Happy"+" "+"Birthday"

'Happy Birthday'

In [21]:
country="India"

In [22]:
capital="New Delhi"

In [23]:
country+capital

'IndiaNew Delhi'

In [24]:
country+ capital

'IndiaNew Delhi'

In [25]:
country +capital

'IndiaNew Delhi'

In [26]:
country + capital

'IndiaNew Delhi'

In [27]:
country[0]

'I'

In [28]:
country[1]

'n'

In [29]:
country[2]

'd'

In [30]:
country[4]

'a'

In [31]:
capital[2]

'w'

In [32]:
capital[6]

'l'

In [33]:
capital[8]

'i'

# Slicing in String

In [34]:
city="LONDON"

In [35]:
city[0:3]

'LON'

In [36]:
city[0:4]

'LOND'

In [37]:
city[1:4]

'OND'

In [38]:
city[2:5]

'NDO'

In [39]:
city[:3]

'LON'

In [40]:
city[2:]

'NDON'

# Python data Structure

In [41]:
l1= [1,2,3,4,5]

In [42]:
l1

[1, 2, 3, 4, 5]

In [43]:
l2= [56,89,90,34,44]

In [44]:
l2

[56, 89, 90, 34, 44]

In [45]:
l3= [5,6,9,2,6,4]

In [46]:
l3

[5, 6, 9, 2, 6, 4]

In [47]:
chlist=['a','b','c','d']
print(chlist)

['a', 'b', 'c', 'd']

In [48]:
mylist= ["jan","feb","march","apr"]

In [49]:
len(mylist)

4

In [51]:
mixedlist=[56,89,"monday",4,5,88]

In [52]:
mixedlist

[56, 89, 'monday', 4, 5, 88]

In [53]:
mylist[0]

'jan'

In [54]:
mylist[1]

'feb'

In [55]:
mylist[2]

'march'

In [56]:
mylist[3]

'apr'

In [57]:
mylist

['jan', 'feb', 'march', 'apr']

In [58]:
mylist.append("may")

In [59]:
mylist

['jan', 'feb', 'march', 'apr', 'may']

In [64]:
mylist.append("june")

In [65]:
mylist

['jan', 'feb', 'march', 'apr', 'may', 'june', 'june', 'june']

In [66]:
len(mylist)

8

In [67]:
mylist[5]

'june'

In [68]:
mylist[1:3]

['feb', 'march']

In [69]:
mylist[2:5]

['march', 'apr', 'may']

In [70]:
mylist[:4]

['jan', 'feb', 'march', 'apr']

In [71]:
mylist[-1]

'june'

In [72]:
mylist[-2]

'june'

In [73]:
mylist[-3]

'june'

In [74]:
mylist[-4]

'may'

In [75]:
mylist[-4:-1]

['may', 'june', 'june']

In [76]:
mylist

['jan', 'feb', 'march', 'apr', 'may', 'june', 'june', 'june']

In [77]:
mylist.append("august")

In [78]:
mylist

['jan', 'feb', 'march', 'apr', 'may', 'june', 'june', 'june', 'august']

In [79]:
mylist[3]="april"

In [80]:
mylist

['jan', 'feb', 'march', 'april', 'may', 'june', 'june', 'june', 'august']

In [81]:
mylist.remove("june")

In [82]:
mylist

['jan', 'feb', 'march', 'april', 'may', 'june', 'june', 'august']

In [83]:
mylist.remove("june")

In [84]:
mylist

['jan', 'feb', 'march', 'april', 'may', 'june', 'august']

In [85]:
mylist.remove("june")

In [86]:
mylist

['jan', 'feb', 'march', 'april', 'may', 'august']

In [87]:
mylist.append("july")

In [88]:
mylist

['jan', 'feb', 'march', 'april', 'may', 'august', 'july']

In [89]:
mylist.remove("july")

In [90]:
mylist

['jan', 'feb', 'march', 'april', 'may', 'august']

In [94]:
mylist.pop()

'august'

In [95]:
mylist

['jan', 'feb', 'march', 'april', 'may']

In [96]:
mylist.pop(3)

'april'

In [97]:
mylist

['jan', 'feb', 'march', 'may']

In [98]:
mylist.sort()

In [99]:
mylist

['feb', 'jan', 'march', 'may']

In [100]:
mylist.reverse()

In [101]:
mylist

['may', 'march', 'jan', 'feb']

In [102]:
mylist.clear()

In [103]:
mylist

[]

In [104]:
mylist=["monday","tuesday"]

In [105]:
mylist

['monday', 'tuesday']

In [107]:
del mylist

In [108]:
mylist

NameError: name 'mylist' is not defined

In [109]:
# Slicing in depth
a= [10,20,30,40,50,60,70,80]
# Slicing  [Start:Stop:Jump or Skip]
# [Start:Stop:Jump]
print (a[0:7:1])
print(a[0:7:2])
print(a[0:7:3])
print(a[7:0:-1])
b=a[::2]
print(b)
print(a[::3])
print(a[::-1])

[10, 20, 30, 40, 50, 60, 70]
[10, 30, 50, 70]
[10, 40, 70]
[80, 70, 60, 50, 40, 30, 20]
[10, 30, 50, 70]
[10, 40, 70]
[80, 70, 60, 50, 40, 30, 20, 10]

# Manupulating lists
Operators
List can be concatenated

In [111]:
fruits=["apples","grapes","orange","banana"]

veggies= ["corn","kala","mashrooms"]

grocery_list=fruits+veggies
grocery_list

['apples', 'grapes', 'orange', 'banana', 'corn', 'kala', 'mashrooms']

# Task
make a two list one list holding the name of moboile name, iphone,oppos,lava,blackberry eg and second list holding the name of reliance
airtel,vodafone
and concatenate them. see the whole list

In [113]:
mobile=["iphone","oppo","lava"]
channel=["reliance","airtel","vodafone"]
total=mobile+channel
total

['iphone', 'oppo', 'lava', 'reliance', 'airtel', 'vodafone']

# Task
make a list cricketer list give name 5 players.once created see it. now add any numbers runs with each player see it access the list 
with follwing crickters [0:4] then cricketlist[2:7] then[3:6],then[-1],[-6:-2]at the end find length of the string using function
in this way u learned list using string numbers we call it hetrogeneous list as we can add many data type

List are mutable ie it can be changed after creation

In [119]:
x=[4,5,6,7,8]
x

[4, 5, 6, 7, 8]

In [120]:
x[0]

4

In [121]:
x[1]

5

In [122]:
x[1]=72

In [123]:
x

[4, 72, 6, 7, 8]

hence the list is changed mutable

# Tuples
Tuples are similar to lists but they are inmutable which means they cannot be changed after creation

In [126]:
my_tuples=("michel","herman",31,"software devloper")

In [125]:
my_tuples[1]

'herman'

In [127]:
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)

In [128]:
tuple3=tuple1+tuple2

In [129]:
tuple3

(1, 2, 3, 4, 5, 6, 7, 8)

In [132]:
# accesing the element
tuple3[2]

3

In [133]:
# tuple values can not be changed after creation
tuple3[2]=35

TypeError: 'tuple' object does not support item assignment

Hence tuple does not support the changes after the creation it is immutable

# Dictionary

In [134]:
dict={"name":"zara","age":7,"class":'first'}

In [135]:
dict

{'name': 'zara', 'age': 7, 'class': 'first'}

In [138]:
dict ["name"]

'zara'

In [139]:
print(dict['age'])

7

In [140]:
dict

{'name': 'zara', 'age': 7, 'class': 'first'}

In [141]:
print(dict['class'])

first

In [142]:
print("dict['name']:",dict['name'])

dict['name']: zara

In [143]:
len(dict)

3

In [144]:
dict.keys()

dict_keys(['name', 'age', 'class'])

In [145]:
dict.values()

dict_values(['zara', 7, 'first'])

In [146]:
dict.items()

dict_items([('name', 'zara'), ('age', 7), ('class', 'first')])

In [150]:
#  adding a new key value pair
dict.update({'fee':5000})

In [151]:
dict

{'name': 'zara', 'age': 7, 'class': 'first', 'fee': 5000}

In [152]:
# updating existing key's value
dict['fee']=9500
print(dict)

{'name': 'zara', 'age': 7, 'class': 'first', 'fee': 9500}

Make a dictonary naming colour dict with key value pair

In [153]:
colourdict={'rock':'brown','trees':'green','apple':'red','banana':'yellow'}
print(colourdict)

{'rock': 'brown', 'trees': 'green', 'apple': 'red', 'banana': 'yellow'}

Enhanced opertation in Dictionary

In [156]:
# Dictionary with integer keys:
intdict={10:'c++',20:'java',30:'python',40:'ruby'}

In [157]:
intdict.keys()

dict_keys([10, 20, 30, 40])

In [158]:
intdict.values()

dict_values(['c++', 'java', 'python', 'ruby'])

In [159]:
intdict.items()

dict_items([(10, 'c++'), (20, 'java'), (30, 'python'), (40, 'ruby')])

In [160]:
# adding  a new key to a dictionary
intdict.update({50:'rails'})
intdict

{10: 'c++', 20: 'java', 30: 'python', 40: 'ruby', 50: 'rails'}

In [161]:
# delete a key
del intdict[50]

In [162]:
intdict

{10: 'c++', 20: 'java', 30: 'python', 40: 'ruby'}

In [163]:
# delete with pop
intdict.pop(30)

'python'

In [164]:
intdict

{10: 'c++', 20: 'java', 40: 'ruby'}

In [165]:
intdict.items()

dict_items([(10, 'c++'), (20, 'java'), (40, 'ruby')])

In [166]:
# dictionary with multiple values

newdict={1:['red','green','blue'],2:['white','pink','purple'],3:['brown','yeloow','lightgreen']}

In [167]:
newdict

{1: ['red', 'green', 'blue'],
 2: ['white', 'pink', 'purple'],
 3: ['brown', 'yeloow', 'lightgreen']}

In [168]:
newdict.keys()

dict_keys([1, 2, 3])

In [169]:
newdict.values()

dict_values([['red', 'green', 'blue'], ['white', 'pink', 'purple'], ['brown', 'yeloow', 'lightgreen']])

In [170]:
newdict.clear()

In [171]:
newdict

{}

In [172]:
del newdict

In [173]:
newdict

NameError: name 'newdict' is not defined